*{
    margin: 0;
    padding: 0;

}
body{
    
    background-color: rgb(206, 228, 240);
    color: black;

}
#contenedor{
    
    width: 70%;
    height: 50%;


}

#menu
{
    height: 80%;
    background-color: rgb(149, 145, 194);
    margin: 10em;
    border-radius: 50px;
    color: black;
}